.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.title {
    color: #000;
}

a.domain {
    color: #bf7ef4;
}

a.domain:hover {
    color: #571e86;
}

@media only screen and (max-width: 750px) {
    .title {
        font-size: 20px;
    }
  }